<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ART-APP | OFFICIAL WEBSITE</title>
    <link rel="stylesheet" href="../indexStyle.css">
</head>
<body>

    <input type="hidden" id='username' value="{{username}}">
    
    <!-- main content -->
    <div class="content">
        {{>navbar userId}}
        <!-- main content -->
        <div class="mainContent">
            
            <!-- home screen -->
            <div class="home" id='home'>
                <!-- admin image -->
                <div class="flex-itemH logoDiv">
                    <span>
                        <img class='logoPic' src="https://picsum.photos/200/300?random=1" alt='image'>
                    </span>
                    <span class='logo'>pranya Design</span>
                </div>
                <div class="flex-itemH marquee">
                    <marquee width = "100%" id='marqueeContiner'></marquee>
                </div>
                
            </div>

            <!-- items made so far -->
            <div class="images" id='images'>
                
                <!-- text -->
                <div class="flex-itemI marginTB">
                    <p class="infoHead">items</p>
                    <p class="infoText">made so far...</p>
                </div>
                <a href="/itemsList?type=all" style="text-decoration: none;"><div id="viewItems">View All Items</div></a>
                <!-- items pictures -->
                <div class="flex-itemI itemImg">
                    <!-- current Image -->
                    <div id="currImg">
                        <div id='mainImg'>
                            <div id="viewCurrItem">View Current Item</div>
                            <div id="summaryItem">
                                <div id="summaryText">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                                <div id="itemStatus">
                                    <b>Status</b> : available
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image thumbnails -->
                    <div class="thumbnailImgs"></div>
                </div>
            </div>
            
            <!-- testimonials -->
            <div class="testimonials" id='testimonials'>
                <!-- text -->
                <div class="flex-itemR marginTB">
                    <p class="infoText" style="padding-top:5vh">...your inspiring</p>
                    <p class="infoHead">testimonials</p>
                </div>
                <!-- users review -->
                <div class="flex-itemR itemTestimonial">
                    <!-- current Image -->
                    <div class="currTestimonial">
                        <img class='testImg' id='testiPic' src="https://i.picsum.photos/id/1003/1378/768.jpg" alt="" srcset="">
                        <div class="testimonialText">
                            <p class='flexText' id='testiText'></p>
                            <p class='flexText' id='testiName' style='font: 1.2em monospace;color: red;'></p>
                            <p class='flexText' id='testiDesignation' style='font: 1em monospace;color: blue;'></p>
                        </div>
                    </div>
                    <!-- bullets -->
                    <div class="bullets" id='testiBullets'>
                        <div class="eB" id='0'></div>
                        <div class="eB" id='1'></div>
                        <div class="eB" id='2'></div>
                        <div class="eB" id='3'></div>
                        <div class="eB" id='4'></div>
                        <div class="eB" id='5'></div>
                    </div>   
                </div>
            </div>
            
            <!-- gallary -->
            <div class="gallary" id='gallary'>
                <!-- text -->
                <div class="flex-itemI marginTB">
                    <p class="infoHead">gallary</p>
                    <p class="infoText">sample text...</p>
                </div>
                <!-- gallary pictures -->
                <div class="flex-itemI itemGal">
                        
                    <!-- items pictures -->
                    <div class="flex-itemI itemGal">
                        <!-- gallary for events -->
                        <div class="Events">
                            <div class="flex-itemEvent" id='event1'>
                                <div class="eventImg"></div>
                                <div class="eventText">event1</div>
                            </div>
                            <div class="flex-itemEvent" id='event2'>
                                <div class="eventImg"></div>
                                <div class="eventText" >event1</div>
                            </div>                            
                        </div> 
                        <!-- bullets -->
                        <div class="bullets">
                            <div class="eB"></div>
                            <div class="eB"></div>
                        </div>   
                    </div>
                </div>
            </div>

            
            <!-- about Info -->
            <div class="about" id='about'>
                <div class="flex-itemA aboutHead">
                    ABOUT ME
                </div>
                <div class="flex-itemA">
                    <img class='avatar' src="https://picsum.photos/200/300?random=1" alt='image'>
                </div>
                <div class="flex-itemA aboutName">
                    Pragya Yagnik
                </div>
                <!-- about comapany -->
                <div class="flex-itemA textInfo">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit mollitia minima pariatur quae in tenetur, 
                        ab provident necessitatibus praesentium fugiat labore quam accusantium repudiandae iste dolores velit eius tempora facilis!
                    </p>
                </div>
                <div style='min-height: 2vw;'></div>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
<script src='../indexScript.js'></script>

</body>
</html>