body{
    margin:0px
}


/* Full-width input fields */
input[type=text], input[type=password],input[type=number], textarea {
    width: 97%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
#addItemBtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#adddItemBtn:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.signupbtn {
    padding: 14px 20px;
    background-color: #3cf436;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 15px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto 3% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
#hr1 {
    height: 1px;
    margin-bottom: 25px;
    width: auto;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
}


#navbar{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    box-shadow: 1px 1px 90px 5px black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-nav{
    background-color: blue;
    padding: 1vh 3vw;
    font-size: 2em;
    color: lightgreen;
    font-weight: 700;
    font-family: sans-serif;
}

#warning{
    background-color: red;
    font-size: 3em;
    text-align: center;
    color:lemonchiffon;
    font-weight: 700;
    font-family: sans-serif;
    text-shadow: 2px 2px darkred;
    border:10px solid black;
}


#options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px auto;
}

.flex-opt{
    margin: 3vw;
    padding: 2vh 2vw;
    width: max-content;
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    background-color: red;
    color: white;
    cursor: pointer;
}

#content{
    margin-top: 2vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.flex-content{
    min-width: 100%;
    height: 87vh;
}

#viewItems{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
    
.flex-view{
    width: fit-content;
    height: fit-content;
}

#addItemBtn{
    cursor: pointer;
    padding: 5px;
    width: fit-content;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 230, 16);
}

#allItemList{
    font-size: 1.5em;
    height: 81vh;
    width: 90%;
    overflow-y: scroll;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.item{
    min-width: 90%;
    margin:1vh auto; 
    color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction:row;
    font-size: 1.2em;
    font-family: monospace;
    text-align: center;
    font-weight: 500;
}


.flex-item{
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 800;
    padding:1vh 0vh;
}



.item-name{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-width: 15%;
    max-width: 15%;
}


.item-type{
    min-width: 20%;
    max-width: 20%;
}

.item-date{
    min-width: 20%;
    max-width: 20%;
}

.item-address{
    min-width: 20%;
    max-width: 20%;
}

.item-price{
    min-width: 15%;
    max-width: 15%;
}

.item-edit{
    min-width: 15%;
    max-width: 15%;
}

#editBtn{
    font-size: 0.7em;
    font-family: monospace;
    font-weight: 800;
    padding:1vh 3vh;
    background-color: gold;
    color:lightseagreen;
}

.item-delete{
    min-width: 15%;
    max-width: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#delBtn{
    font-size: 0.7em;
    font-family: monospace;
    font-weight: 800;
    padding:1vh 2vh;
    background-color: darkred;
    color:lightseagreen;

}

hr{ 
    margin: 0em;
    border : 0;
    min-height: 1px; 
    min-width: 90%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  }