html {
    scroll-behavior: smooth;
    width: 100vw;
    margin: 0vw;
  }

.content{
    background-color: black;
}

body{
    margin:0em;
    padding: 0em;
}

.mainContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.home{
    width:100vw;
    height: 100vh;
    background-image: url('./pictures/back.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-itemH{
    margin:2vw;
}

.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:4vw;
    min-width: 90vw;
}

.logo{
    margin:0vw 10vw;
    color: chartreuse;
    text-decoration-line: line-through;
    filter: hue-rotate(0deg);
    text-shadow:10px 5px crimson;
    font-size: 6em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-style: italic;
}

.logo:hover{
    filter: hue-rotate(900deg);
    transition: all 3.5s;
}

.logoPic{
    width: 25vh;
    height: 25vh;
    border: 6px solid black;
    box-shadow: 2px 2px 2px 2px rgb(194, 186, 186);
}


.logoPic:hover{
    box-shadow: 1px 1px 1px 1px rgb(194, 186, 186);
    transform: translateX(3px) translateY(3px);
}

.marquee{
    max-width: 70vw;
    border: 5px solid gold;
    background-image: linear-gradient(to right top, #6bd174, #00c7a8, #00b6e4, #009cff, #0072ff, #7d5be9, #aa3cca, #c500a5, #ea2486, #fc526d, #ff7d5e, #fba35f);
    box-shadow: 2px 10px 20px whitesmoke;
}

.marqueeImg{
    width: 15vw;
    height: 15vw;
}

.images{
    width:100vw;
    height: 100vh;
    background-image: url('./pictures/img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoHead{
    font-family: gigi;
    font-style: italic;
    color: darkmagenta;
    font-size: 5.5em;
    margin:0px;
}

.infoText{
    margin:0px;
    font-family: gigi;
    font-style: italic;
    padding-left:   15vw;
    color: rgb(72, 0, 139);
    font-size: 2em;
}

.itemImg{
    min-height: 61vh;
    min-width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;   
}

#mainImg{
    min-height: 58vh;
    min-width: 62vw;
    max-height: 58vh;
    max-width: 62vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}


#currImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    min-height: 69.5vh;
    max-height: 69.5vh;
    min-width: 81%;
    max-width: 81%;
}


#viewItems{
    padding:2vh 2vw;
    font-weight: 900;
    color: whitesmoke;
    background-color: lightseagreen;
    cursor: pointer;
}

#viewItems:hover{
    background-color: darkcyan;
}

#viewCurrItem{
    padding: 2vh 2vw;
    max-width: max-content;
    border-bottom-right-radius: 30px 100%;
    border-bottom-left-radius: 30px 100%;
    color: lightcyan;
    font-weight: 400;
    background-color: crimson;
    position: relative;
    cursor: pointer;
}

#viewCurrItem:hover{
    color: lightcyan;
    background-color: rgb(236, 155, 3);
}

#summaryItem{
    font-size: 1.3em;
    margin-top: 25%;
    min-width: 90%;
    padding:2vh 2vw;
    color: ivory;
    background-color: rgb(73, 71, 66);
    opacity: 0.7;
}

.thumbnailImgs{
    overflow:auto;
    overflow: -moz-scrollbars-none;
    min-height: 69.5vh;
    max-height: 69.5vh;
    min-width: 19%;
    max-width: 19%;   
    -ms-overflow-style: none;
}

.thumbnailImgs::-webkit-scrollbar{
    width:0px !important
}

.thumbnail{
    background-image: url('https://picsum.photos/seed/picsum/200/300');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border:1px dashed rgb(18, 189, 89);
    min-height: 13.375vh;
    max-height: 13.375vh;
    min-width: 90%;
    max-width: 90%;
    margin: 1.5vh auto;
}

.marginTB{
    margin:-1vw 0vw 2vw;
}


.testimonials{
    width:100vw;
    height: 100vh;
    background-image: url('./pictures/img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.itemTestimonial{
    min-height: 61vh;
    min-width: 80vw;
    max-width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;   
}

.currTestimonial{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;   
    min-height: 51vh;
    max-height: 51vh;
    min-width: 100%;
    max-width: 100%;
}

.testImg{
    min-width: 18vw;
    min-height: 18vw;
    max-width: 18vw;
    max-height: 18vw;
    border-radius: 400px;
    border: 9px solid darkred;
    box-shadow: 0px 0px 3vw 10px darkorchid;
    cursor: pointer;
}

.testimonialText{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;  
    margin-left:10vw;
    width: 40%;
    font-family: monospace;
    font-style: italic;
    text-align:center;
    font-size: 1.5em;
}

.flexText{
    margin: 0.7vh auto;
}

.otherTs{
    display: flex;
    justify-content: safe;
    align-items: center;
    flex-direction: row;   
    overflow:auto;
    overflow: -moz-scrollbars-none;
    min-height: 14vh;
    max-height: 14vh;
    min-width: 45%;
    max-width: 45%;
}


.otherTs::-webkit-scrollbar{
    width:0px !important
}

input[type=radio]{
    margin:2vh 2vw;
    width: 2vh;
    height: 2vh;
}

.gallary{
    width:100vw;
    height: 100vh;
    background-image: url('./pictures/img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemGal{
    min-height: 61vh;
    min-width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;   
}

.Events{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;   
    min-height: 55.5vh;
    max-height: 55.5vh;
    min-width: 90%;
    max-width: 90%;
}

.flex-itemevent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eventImg{
    border: 1vh solid black;
    cursor: pointer;
    box-shadow: 4px 4px 20px crimson;
    width:23vw;
    height:23vw;
    border-radius: 300px;
    background-image: url('./pictures/rev.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.eventImg:hover{
    opacity: 1;
    border: 1.2vh solid rgb(14, 33, 202);
    box-shadow: 4px 4px 60px crimson;
    transition: box-shadow 0.3s;
}

.bullets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.eB{
    margin: 2vh;
    min-width: 1vw;
    max-width: 1vw;
    min-height: 1vw;
    max-height: 1vw;
    background-image: radial-gradient(circle, #ffffff, #dbdbdc, #b7b8ba, #939799, #717779, #6d7577, #6a7475, #667272, #7f8d8d, #99aaa9, #b4c7c6, #cfe5e4);
    border: 1px solid black;
    border:inset;
    border-radius: 20px;
    cursor: pointer;
}

.eB:active{
    background-color: black;
    border:1px solid white;
    border-style: inset;
    border-radius: 20px;
}

.eventText{
    font:2em monospace;
    color:crimson;
    font-weight: 900;
    padding-top: 2vh;
    text-align: center;
}
.about{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./pictures/img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.flex-itemA{
    margin:1vh;
}

.aboutHead{
    margin-top: 3vw !important;
    font-size: 3em;
    text-align: center;
    font-weight: 900;
    font-family: 'arial black','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #ff0000;
}


.aboutName{
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 3px #ff0000;
}

.textInfo{
    border: 3px solid crimson;
    color:whitesmoke;
    background-color: black;
    opacity: 0.6;
    max-width: 55vw;
    font-family: monospace;
    font-weight: black;
    font-size: 1.9em;
    padding: 2em;
    position: unset;
    text-align: center;
}

.avatar{
    border: 5px solid black;
    height: 33vh;
    width: 33vh;
    box-shadow: 0px 0px 5px 5px gold;
    border-radius: 50%;
}

.avatar:hover{
    box-shadow: 0px 0px 5px 10px gold;
    transition:all 0.3s
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 20px) and (max-device-width : 480px) {    
    .navbar .menu{
        font-size: 1em;
    }
    .menuVal{
        display: none;
    }
    .logo{
        font-size: 2.4em;
        margin: 0vw 2vw;
    }

    .logoPic{
        width: 35vw;
        height: 35vw;
        border: 6px solid black;
        box-shadow: 2px 2px 2px 2px rgb(194, 186, 186);
    }
    .icon {
        margin-right: 0vh !important;
    }
    
    .itemImg {
        min-height: 41vh;
        min-width: 100vw;
        flex-direction: column;
    }

    #currImg {
        min-height: 49.5vh;
        max-height: 49.5vh;
        min-width: 100%;
        max-width: 100%;
    }
    #viewCurrItem {
        padding: 2vh 3vw;
        border-bottom-right-radius: 30px 100%;
        border-bottom-left-radius: 30px 100%;
    }
    #mainImg {
        min-height: 50vh;
        max-height: 50vh;
        min-width: 90%;
        max-width: 90%;
    }
    .thumbnailImgs {
        overflow: -moz-scrollbars-none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 90%;
        max-width: 90%;
        min-height: 20%;
        max-height: 20%;
        -ms-overflow-style: none;
    }
    .thumbnail {
        min-width: 90%;
        max-width: 90%;
        margin: 1.5vh auto;
    }
    .testImg{    
        min-width: 33vw;
        min-height: 33vw;
        max-width: 33vw;
        max-height: 33vw;
        border: 3px solid darkred;
        box-shadow: 0px 0px 1vw 3px darkorchid;
    }
    .itemTestimonial{
        min-height: 75vh;
    }
    .currTestimonial{
        flex-direction: column;   
    }
    
    .testimonialText{
        margin-top: 2vh;
        margin-left:0vw;
        width: 100%;
        font-size: 1.1em;
    }
        
    .infoHead{
        font-size: 2.5em;
    }
    
    .infoText{
        font-size: 1.2em;
    }
    
    .aboutHead{
        font-size: 2em;
    }

    .aboutName{
        font-size: 1.4em;
    }
        
    .textInfo{
        max-width: 90vw;
        font-size: 1.1em;
        padding: 1em;
    }
} 


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 620px) and (max-device-width : 768px) {
    .navbar .menu{
        font-size: 1.1em;
    }

    .logo{
        font-size: 3em;
        margin: 0vw 4vw;
    }

    .logoPic{
        width: 25vw;
        height: 25vw;
        border: 6px solid black;
        box-shadow: 2px 2px 2px 2px rgb(194, 186, 186);
    }
    .itemImg {
        flex-direction: column;
    }
    #currImg {
        min-height: 49.5vh;
        max-height: 49.5vh;
        min-width: 100%;
        max-width: 100%;
    }
    #viewCurrItem {
        padding: 2vh 3vw;
        border-bottom-right-radius: 30px 100%;
        border-bottom-left-radius: 30px 100%;
    }
    #mainImg {
        min-height: 50vh;
        max-height: 50vh;
        min-width: 90%;
        max-width: 90%;
    }
    .thumbnailImgs {
        overflow: -moz-scrollbars-none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 90%;
        max-width: 90%;
        min-height: 20%;
        max-height: 20%;
        -ms-overflow-style: none;
    }
    .thumbnail {
        min-width: 90%;
        max-width: 90%;
        margin: 1.5vh auto;
    }
    .testImg{    
        min-width: 19vw;
        min-height: 19vw;
        max-width: 19vw;
        max-height: 19vw;
        border: 3px solid darkred;
        box-shadow: 0px 0px 1vw 4px darkorchid;
    }
    .itemTestimonial{
        min-height: 75vh;
    }
    .currTestimonial{
        flex-direction: column;   
    }
    
    .testimonialText{
        margin-top: 2vh;
        margin-left:0vw;
        width: 100%;
        font-size: 1.1em;
    }
        
    .infoHead{
        font-size: 2.5em;
    }
    
    .infoText{
        font-size: 1.2em;
    }
    
    .aboutHead{
        font-size: 2.5em;
    }

    .aboutName{
        font-size: 1.8em;
    }
        
    .textInfo{
        max-width: 70vw;
        font-size: 1.2em;
        padding: 1em;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .navbar .menu{
        font-size: 1.1em;
    }

    .icon{
        display: none;
    }
    .logo{
        font-size: 3.2em;
        margin: 0vw 4vw;
    }

    .logoPic{
        width: 20vw;
        height: 20vw;
        border: 6px solid black;
        box-shadow: 2px 2px 2px 2px rgb(194, 186, 186);
    }
    
    .testImg{    
        min-width: 19vw;
        min-height: 19vw;
        max-width: 19vw;
        max-height: 19vw;
        border: 3px solid darkred;
        box-shadow: 0px 0px 1vw 4px darkorchid;
    }
    .itemTestimonial{
        min-height: 75vh;
    }
    .currTestimonial{
        flex-direction: row;   
        justify-content: space-around;
    }
    
    .testimonialText{
        margin-top: 2vh;
        margin-left:0vw;
        width: 60%;
        font-size: 1.1em;
    }
        
    .infoHead{
        font-size: 2.5em;
    }
    
    .infoText{
        font-size: 1.2em;
    }
    
    .aboutHead{
        font-size: 2.5em;
    }

    .aboutName{
        font-size: 1.8em;
    }
        
    .textInfo{
        max-width: 70vw;
        font-size: 1.2em;
        padding: 1em;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 1024px)  and (max-width : 1224px) {
    .navbar .menu{
        font-size: 1.5em;
    }

    .icon{
        display: none;
    }
    .logo{
        font-size: 3.2em;
        margin: 0vw 4vw;
    }

    .logoPic{
        width: 20vw;
        height: 20vw;
        border: 6px solid black;
        box-shadow: 2px 2px 2px 2px rgb(194, 186, 186);
    }
    
    .testImg{    
        min-width: 19vw;
        min-height: 19vw;
        max-width: 19vw;
        max-height: 19vw;
        border: 3px solid darkred;
        box-shadow: 0px 0px 1vw 4px darkorchid;
    }
    .itemTestimonial{
        min-height: 75vh;
    }
    .currTestimonial{
        flex-direction: row;   
        justify-content: space-around;
    }
    
    .testimonialText{
        margin-top: 2vh;
        margin-left:0vw;
        width: 60%;
        font-size: 1.1em;
    }
        
    .infoHead{
        font-size: 2.5em;
    }
    
    .infoText{
        font-size: 1.2em;
    }
    
    .aboutHead{
        font-size: 2.5em;
    }

    .aboutName{
        font-size: 1.8em;
    }
        
    .textInfo{
        max-width: 70vw;
        font-size: 1.2em;
        padding: 1em;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}