html {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.content{
    background-color: black;
}

body{
    margin:0em;
    padding: 0em;
}

.navbar > a{
    color:whitesmoke;
    text-decoration: none;
}


.navbar{
    width: 100vw;
    color:whitesmoke;
    display: inline-block;
    opacity: 0.9;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
    background-color: black;
}

.navbar .menu{
    padding:15px 40px;
    text-align: center;
    opacity: 0.7;
    font-size: 1.5em;
    font-weight: 600;
    font-family: serif;
}


.navbar .menu:hover{
    background-image: url('rev.jpg');
    color: rgb(146, 219, 29);
    opacity: 1;
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgb(113, 119, 113);
    box-shadow: inset 0 0 0 2px #53a7ea;
    transition:  all 0.3s;
}

.dropdownContent{
    display: none;
    position: absolute;
}

.dropBtn:hover .dropdownContent{
    font-size: 0.9em ;
    display: block ;
    color:black;
}

.ts{
    background-color: honeydew ;
    border-radius: 10px;
    padding:20px 30px;
    border-radius: 10px;
}

.ts:hover{
    background-color: lightslategray ;
    border:none ;
    transition: all 0.3s;
}

#itemInfo{
    margin: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.flex-itemI{
    max-width: 45vw;
    min-width: 45vw;
    max-height: 80vh;
    min-height: 80vh;
    background-color: darkslateblue;
    border: 6px solid crimson;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

#picture{
    background-image: url('https://i.picsum.photos/id/2/2500/1667.jpg');
}

#content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    font-family:arial-black;
    background-color: lightsteelblue;
    border: 0;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    font-size: 1.2em;
    font-weight:900;
    font-style: italic;
}

#itemName{
    padding: 0.5vw ;
    max-width: 98%;
    min-width: 98%;
    min-height: 3vw;
    max-height: 3vw;
    background-color: rgb(205, 248, 12);
    color: rgb(61, 66, 15);
    opacity: 0.7;
    font-family:arial-black;
    font-size: 1.2em;
    font-weight:900;
    font-style: italic;
}


#itemContent{
    padding: 1vh 2vw;
    color: rgb(88, 2, 2);
    font-family:arial-black;
    text-align: justify;
    font-size: 1.2em;
    font-weight:900;
    font-style: italic;
}