html {
    scroll-behavior: smooth;
  }

.content{
    background-color: black;
}

body{
    margin:0em;
    padding: 0em;
}

.navbar > a{
    color:whitesmoke;
    text-decoration: none;
}


.navbar{
    width: 99vw;
    color:whitesmoke;
    display: inline-block;
    opacity: 0.9;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
    position: fixed;

}

.navbar .menu{
    padding:15px 40px;
    text-align: center;
    opacity: 0.7;
    font-size: 1.5em;
    font-weight: 600;
    font-family: serif;
}


.navbar .menu:hover{
    background-image: url('rev.jpg');
    color: rgb(146, 219, 29);
    opacity: 1;
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgb(113, 119, 113);
    box-shadow: inset 0 0 0 2px #53a7ea;
    transition:  all 0.3s;
}

.dropdownContent{
    display: none;
    position: absolute;
}

.dropBtn:hover .dropdownContent{
    font-size: 0.9em ;
    display: block ;
    color:black;
}

.ts{
    background-color: honeydew ;
    border-radius: 10px;
    padding:20px 30px;
    border-radius: 10px;
}

.ts:hover{
    background-color: lightslategray ;
    border:none ;
    transition: all 0.3s;
}
.mainContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.home{
    width:99vw;
    height: 100vh;
    background-image: url('back.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-itemH{
    margin:2vw;
}

.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:4vw;
    min-width: 90vw;
}

.logo{
    margin:0vw 10vw;
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logoPic{
    width: 25vh;
    height: 25vh;
    border-radius: 500px;
}

.marquee{
    max-width: 70vw;
    border: 5px solid gold;
    background-image: linear-gradient(to right top, #6bd174, #00c7a8, #00b6e4, #009cff, #0072ff, #7d5be9, #aa3cca, #c500a5, #ea2486, #fc526d, #ff7d5e, #fba35f);
    box-shadow: 2px 10px 20px whitesmoke;
}

.marqueeImg{
    width: 15vw;
    height: 15vw;
}

.images{
    width:99vw;
    height: 100vh;
    background-image: url('img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoHead{
    font-family: gigi;
    font-style: italic;
    color: darkmagenta;
    font-size: 5.5em;
    margin:0px;
    padding: 10px 80px; 
}

.infoText{
    margin:0px;
    font-family: gigi;
    font-style: italic;
    padding-left:   15vw;
    color: rgb(72, 0, 139);
    font-size: 2em;
}

.marginTB{
    margin:-1vw 0vw 4vw;
}

.itemImg{
    min-height: 61vh;
    min-width: 80vw;
    border: 10px solid brown;
}

.testimonials{
    width:99vw;
    height: 100vh;
    background-image: url('img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallary{
    width:99vw;
    height: 100vh;
    background-image: url('img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about{
    min-width: 99vw;
    min-height: 100vh;
    background-image: url('img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.flex-itemA{
    margin:2vw;
}

.aboutHead{
    font-size: 3em;
    text-align: center;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #ff0000;
}


.aboutName{
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 3px #ff0000;
}
.textInfo{
    border: 3px solid crimson;
    color:whitesmoke;
    background-color: black;
    opacity: 0.6;
    max-width: 55vw;
    font-family: monospace;
    font-weight: black;
    font-size: 1.9em;
    padding: 2em;
    position: unset;
    text-align: center;
}

.avatar{
    height: 33vh;
    width: 33vh;
    box-shadow: 5px 5px 30px yellow;
    border-radius: 50%;
}
